*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

body {
  font-size: 16px;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5reml;
}
.form__submit {
  padding: 0.5rem 1rem;
  border: none;
  background: #000;
  color: #fff;
}

header .container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

footer .container {
  text-align: center;
  padding: 1rem;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user {
  background: #eee;
  padding: 1rem;
}
